@font-face {
  font-display: swap;
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../font/iranyekan-web-thin.eot");
  src: url("../font/iranyekan-web-thin.woff") format("woff"),
    url("../font/iranyekan-web-thin.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: iranyekan;
  font-style: normal;
  font-weight: 200;
  src: url("../font/iranyekan-web-light.eot");
  src: url("../font/iranyekan-web-light.woff") format("woff"),
    url("../font/iranyekan-web-light.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../font/iranyekan-web-regular.eot");
  src: url("../font/iranyekan-web-regular.woff") format("woff"),
    url("../font/iranyekan-web-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: iranyekan;
  font-style: normal;
  font-weight: 400;
  src: url("../font/iranyekan-web-medium.eot");
  src: url("../font/iranyekan-web-medium.woff") format("woff"),
    url("../font/iranyekan-web-medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../font/iranyekan-web-bold.eot");
  src: url("../font/iranyekan-web-bold.woff") format("woff"),
    url("../font/iranyekan-web-bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: iranyekan;
  font-style: normal;
  font-weight: 600;
  src: url("../font/iranyekan-web-extrabold.eot");
  src: url("../font/iranyekan-web-extrabold.woff") format("woff"),
    url("../font/iranyekan-web-extrabold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../font/iranyekan-web-black.eot");
  src: url("../font/iranyekan-web-black.woff") format("woff"),
    url("../font/iranyekan-web-black.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../font/iranyekan-web-extrablack.eot");
  src: url("../font/iranyekan-web-extrablack.woff") format("woff"),
    url("../font/iranyekan-web-extrablack.ttf") format("truetype");
}
